<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Person Course Subscription Management</title>
	<style>
		a {
			text-decoration: none;
			font-weight: bold;
			color: cornflowerblue;
		}

		a:hover {
			color: crimson;
		}

		nav {
			display: flex;
			flex-direction: column;
		}
	</style>
</head>

<body>
	<h1>Welcome to the Dashboard</h1>
	<p>Following are the API-links to get the information:</p>
	<nav>
		<a href="/swcc">Status Wise Course Count</a>
		<a href="/awpc">Age Wise Person Count</a>
		<a href="/ciwscc">Course ID wise subscribed courses count</a>
		<a href="/piscc">Person ID wise subscribed courses count</a>
		<a href="/swscc">Status wise subscribed courses count</a>
	</nav>
</body>

</html>